<ng-template [ngTemplateOutlet]="searchBar">

</ng-template>

<tr (click)="dataService.onClick(element)" *ngFor="let element of dataService.responseData.data">
  <td *ngFor="let header of dataService.headers">
    <p *ngIf="templateRefs[header] === undefined; else templateDefined">
      {{dataService.getCellContent(element, header)}}
    </p>

    <ng-template #templateDefined [ngTemplateOutlet]="templateRefs[header]"
                 [ngTemplateOutletContext]="{data: element}"></ng-template>

  </td>
</tr>
