<nav class="d-flex flex-row align-items-center justify-content-between p-3">
  <div class="d-flex flex-row ">
    <p class="mr-2 mb-0 text-dark">
      Show
    </p>
    <select #s (change)="onRowsPerPageChange(s.value)" class="form-control form-control-sm">
      <option *ngFor="let opt of dataService.perPageOptions" [value]="opt">{{opt}}</option>
    </select>
    <p class="ml-2 mb-0 text-dark">
      entries
    </p>
  </div>
  <ul class="pagination justify-content-center m-0">
    <li *ngFor="let li of generateRowIndices()"
        [ngClass]="{active: li === selectedPageNumber + 1, disabled: li === placeHolderString || li === placeHolderString}"
        (click)="li !==placeHolderString && li !== placeHolderString && onPageChange(li-1)"
        class="page-item">
      <a
        style="cursor:pointer;"
        class="page-link">
        {{li}}
      </a>
    </li>
  </ul>
  <div *ngIf="loading" class="spinner-border spinner-grow-sm ml-3 text-primary">
  </div>
</nav>
