<nav class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-row justify-content-start align-items-center ml-2">
    <ul class="pagination align-self-center m-0">
      <li *ngFor="let li of generateRowIndices()"
          [ngClass]="{active: li === selectedPageNumber + 1, disabled: li === placeHolderString || li === placeHolderString}"
          (click)="li !==placeHolderString && li !== placeHolderString && onPageChange(li-1)"
          class="page-item">
        <a
          class="page-link"
          href="#">
          {{li}}
        </a>
      </li>
    </ul>
    <div *ngIf="loading" class="spinner-border spinner-grow-sm ml-3 text-primary">
    </div>
  </div>
</nav>
