<tr>
  <th scope="col" [ngClass]="{pointer: tableData.sortOnColumn? tableData.sortOnColumn[i] : false}" *ngFor="let el of tableData.headers; let i = index" (click)="tableData.sortOnColumn[i] && onHeaderSortRequest(el)">
    <div class="d-flex flex-row">
      <p class="m-0">{{el}}</p>
      <fa-icon
        *ngIf="!loading && headerSorted === el"
        [icon]="direction === 'asc' ? faAngleUp : faAngleDown"
        class="mx-2">
      </fa-icon>
      <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"
            *ngIf="loading && lastClicked === el"></span>
    </div>
  </th>
</tr>
